<aside class="aside-slide asideSlide" >
	<a href="#" class="btn-sideslide btnSlide active" ><span class="bars"></span></a>
	<div class="inside">
		<header class="head-aside">
			<h3 class="title-mdaside">Deal Stats</h3>
			<a href="#" class="btn-advance"><span>advanced view</span></a>
		</header>

		{{#is basename "select_inventory"}}
			<div class="aside-row table-responsive">
				<p class="title-xsaside orange">Current Pool <i class="fa fa-caret-down"></i></p>
				<table class="table table-border">
					<tr>
						<td><strong>Notes:</strong></td>
						<td>12,345</td>
					</tr>
					<tr>
						<td><strong>Total Principal:<strong></td>
						<td>$34,000,112</td>
					</tr>
					<tr>
						<td><strong>WA Coupon:<strong></td>
						<td>4.66%</td>
					</tr>
					<tr>
						<td><strong>WA Life:<strong></td>
						<td>49 mos</td>
					</tr>
					<tr>
						<td><strong>Max Term:<strong></td>
						<td>24 mos</td>
					</tr>
			  	</table>
			</div>
			<div class="aside-row">
				<p class="title-xsaside">Current Pool<i class="fa fa-caret-down"></i></p>
				<div class="chart-circle">
					<figure class="text-center"><img src="assets/img/diagram_dummy.png"></figure>
				</div>
			</div><!-- //aside-row -->
			<div class="aside-row">
				<p class="title-xsaside">Remaining Life<i class="fa fa-caret-down"></i></p>
				<div class="chart-circle">
					<figure class="text-center"><img src="assets/img/diagram_dummy.png"></figure>
				</div>
			</div> <!-- //aside-row -->
		{{/is}}

		{{#is basename "structure_deal"}}
			<div class="aside-row table-responsive">
				<p class="title-xsaside orange">Current Pool <i class="fa fa-caret-down"></i></p>
				<table class="table table-border">
					<tr>
						<td><strong>Notes:</strong></td>
						<td>12,345</td>
					</tr>
					<tr>
						<td><strong>Total Principal:<strong></td>
						<td>$34,000,112</td>
					</tr>
					<tr>
						<td><strong>WA Coupon:<strong></td>
						<td>4.66%</td>
					</tr>
					<tr>
						<td><strong>WA Life:<strong></td>
						<td>49 mos</td>
					</tr>
					<tr>
						<td><strong>Max Term:<strong></td>
						<td>24 mos</td>
					</tr>
			  	</table>
			  	<table class="table table-border">
					<tr>
						<td><strong>Overcollaterization:</strong></td>
						<td>$32,670,000.00</td>
					</tr>
					<tr>
						<td><strong>Available WAC:<strong></td>
						<td>13.03%</td>
					</tr>
					<tr>
						<td><strong>Collaterized Coupon:<strong></td>
						<td>4.66%</td>
					</tr>
					<tr>
						<td><strong>Excess Spread:<strong></td>
						<td>8.17%</td>
					</tr>
			  	</table>
			</div>

			<div class="aside-row table-responsive">
				<p class="title-xsaside">OC<i class="fa fa-caret-down"></i></p>
				<table class="table table-border">
					<tr>
						<td><strong>Interest Rate</strong></td>
						<td></td>
					</tr>
					<tr>
						<td><strong>Term<strong></td>
						<td></td>
					</tr>
					<tr>
						<td><strong>Principal %<strong></td>
						<td>9.00%</td>
					</tr>
					<tr>
						<td><strong>Principal<strong></td>
						<td></td>
					</tr>
			  	</table>
			</div>

			<div class="aside-row table-responsive">
				<p class="title-xsaside">Tranche A <i class="fa fa-caret-down"></i></p>
				<table class="table table-border">
					<tr>
						<td><strong>Interest Rate</strong></td>
						<td>4.00%</td>
					</tr>
					<tr>
						<td><strong>Term<strong></td>
						<td>72 months</td>
					</tr>
					<tr>
						<td><strong>Principal %<strong></td>
						<td>30.00%</td>
					</tr>
					<tr>
						<td><strong>Principal<strong></td>
						<td>$108,900,000.00</td>
					</tr>
			  	</table>
			</div>

			<div class="aside-row table-responsive">
				<p class="title-xsaside">Tranche B<i class="fa fa-caret-down"></i></p>
				<table class="table table-border">
					<tr>
						<td><strong>Interest Rate</strong></td>
						<td>4.00%</td>
					</tr>
					<tr>
						<td><strong>Term<strong></td>
						<td>72 months</td>
					</tr>
					<tr>
						<td><strong>Principal %<strong></td>
						<td>30.00%</td>
					</tr>
					<tr>
						<td><strong>Principal<strong></td>
						<td>$108,900,000.00</td>
					</tr>
			  	</table>
			</div>

			<div class="aside-row table-responsive">
				<p class="title-xsaside">Tranche C<i class="fa fa-caret-down"></i></p>
				<table class="table table-border">
					<tr>
						<td><strong>Interest Rate</strong></td>
						<td>4.00%</td>
					</tr>
					<tr>
						<td><strong>Term<strong></td>
						<td>72 months</td>
					</tr>
					<tr>
						<td><strong>Principal %<strong></td>
						<td>30.00%</td>
					</tr>
					<tr>
						<td><strong>Principal<strong></td>
						<td>$108,900,000.00</td>
					</tr>
			  	</table>
			</div>
		{{/is}}


	</div>
</aside><!-- Aside Slide -->