{{#inArray basenames basename}}

{{else}}
	{{#footer}}
		<div class="container">
			<div class="row">
		 		<div class="fooleft">
		 			<div class="inside">
			 			<div class="content-text">
			 				<p>{{footerLeft}}</p><br>
			 				<p>{{copyright}}</p>
			 			</div>
		 			</div>
		 		</div> <!-- //fooleft -->

	 			<div class="fooright">
	 				<address>
	 					{{{address}}}
	 				</address>

	 				<div class="foologos">
	 					<ul>
	 						{{#footLogos}}
	 							<li><figure><img src="assets/img/{{.}}"></figure></li>
	 						{{/footLogos}}
	 					</ul>
	 				</div>
	 			</div> <!-- //fooright  -->
 			</div>
 		</div>
 	{{/footer}}
{{/inArray}}
