{{#isnt basename "index"}}
  <header id="header">
  		<div class="headtop">
  			 <div class="container">
	  			 	<div class="row">
					  	<div id="logo">
					  		<figure>
					  			<img src="{{assetsimg}}/{{logo}}" alt="">
					  		</figure>
					  	</div> <!-- //logo -->

					  	<div class="head-right">
					  		<div class="inside">
						  		<div class="search-box eqHeight">
						  			<form>
						  				<div class="form-control-wrapper">
							  				<input type="search" class="form-control" id="search" placeholder="Search">
							  				<!-- <span class="floating-label">Search</span> -->
							  				<button type="submit" class="btn-src"></button>
						  				</div>
						  			</form>
						  		</div><!-- //search-box -->
						  		{{> navigation}}

						  		<div class="headuser eqHeight">
						  			<div class="user">
						  				<figure>
						  					<div class="user__thumb"><img src="{{assetsimg}}/user.png" alt=""></div>
						  					<figcaption class="user__alert bounce">11</figcaption>
						  				</figure>
						  				<span class="user_name">Twinkle L Star</span>
						  			</div>
						  			<a href="#" class="headuser__btn">Securitization</a>
						  		</div> <!-- //headuser -->
					  		</div>
					  	</div> <!-- //head-right -->
					 </div>
		  		</div>
		  </div> <!-- headtop --> 

		  <div class="headbtm">
		  		<div class="container">
			  		<nav class="navmain">
			  			<div class="navInMain">
			  				<ul>
			  					<li><a href="#">Structures</a></li>
			  					<li class="active"><a href="#">My Deals</a></li>
			  				</ul>
			  			</div>
			  		</nav> <!-- //navInMain -->

			  		<div class="head-bank">
			  			<a href="#" class="fa fa-university">
			  				<span>Big Money, LLC <i class="fa fa-caret-down"></i></span>
			  			</a>
			  		</div> <!-- //head-company -->

		  		</div>
		  </div> <!-- //headbtm -->
  	</div>
  </header> <!-- HEADER -->
 {{/isnt}}
