<div class="left-content">
	{{#is basename "select_inventory"}}
		<h2 class="title-greenside"><span>Selected PoolM</span></h2>
		<div class="scPool-row">
			<div class="scPool">
				<form>	
					<div class="inputbox_2">
						<select class="form-control">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
					</div>
					<div class="inputbox_2">
						<input type="text" class="form-control fr-border">
					</div>
					<a href="#" class="btn-minus removeRow"><span>-</span></a>
				</form>
			</div> <!-- //scPool -->

			<div class="scPool">
				<form>	
					<div class="inputbox_2">
						<select class="form-control">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
					</div>

					<div class="inputbox_2">
						<input type="text" class="form-control fr-border"/>
					</div>
					<a href="#" class="btn-minus removeRow"><span>-</span></a>
				</form>
			</div> <!-- //scPool -->

			<div class="scPool">
				<form>	
					<div class="inputbox_3">
						<select class="form-control">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
					</div>

					<div class="inputbox_3">
						<select class="form-control">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
					</div>

					<div class="inputbox_3">
						<input type="text" class="form-control fr-border" />	
					</div>
					<a href="#" class="btn-minus removeRow"><span>-</span></a>
				</form>
			</div> <!-- //scPool -->
		</div> <!-- scPool-row -->
		<div class="scPool-control">
			<a href="#" class="btn-plus addRow"><span>+</span></a>
			<div class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-default">Filter</button>
			  <button type="button" class="btn btn-default">Add</button>
			  <button type="button" class="btn btn-default">Remove</button>
			</div>
		</div>
	{{/is}}

	{{#is basename "structure_deal"}}

		<section class="addtemplate_sc">
			<h2 class="title-greenside"><span>Choose a Deal Template</span></h2>
			<h5 class="title-xxs">Add filters to select only the notes that fit your criteria.  The stats on the right will update in realtime as you do so.</h5>

			<div class="box-template">
				<ul class="list-unstyled">
					{{#templates}}
					<li class="box-template_item {{#contains title 'C'}} active{{/contains}}">
						<div class="inside">
							<header>
								<h5>{{title}}</h5>
								<span>{{text}}</span>
							</header>
							<div class="desc">
								<p>{{desc}}</p>
							</div>
						</div>
					</li>
					{{/templates}}
				</ul>
			</div> <!-- //box-template -->
		</section> <!-- //criteria_sc -->

		<hr class="fulline">

		<h2 class="title-greenside"><span>Configure Structure</span></h2>
		<h5 class="title-xxs">Maecenas sed diam eget risus varius blandit sit amet non magna.</h5>
			
		<div class="f-configure">
			<form class="form-horizontal">
				  <div class="form-group">
					    <label for="inputPassword" class="col-sm-4 control-label">Overcollaterization %</label>
					    <div class="col-sm-8">
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
				  </div> <!-- //form-group -->
				  <div class="form-group">
					    <label for="inputPassword" class="col-sm-4 control-label">Reserve Account %</label>
					    <div class="col-sm-8">
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
				  </div> <!-- //form-group -->
				  <div class="form-group">
					    <label for="inputPassword" class="col-sm-4 control-label">Principal A %</label>
					    <div class="col-sm-8">
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
				  </div> <!-- //form-group -->
				  <div class="form-group">
					    <label for="inputPassword" class="col-sm-4 control-label">Principal B (opt.) %</label>
					    <div class="col-sm-8">
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
				  </div> <!-- //form-group -->
				  <div class="form-group">
					    <label for="inputPassword" class="col-sm-4 control-label">Interest Rate A %</label>
					    <div class="col-sm-8">
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
				  </div> <!-- //form-group -->
				  <div class="form-group">
					    <label for="inputPassword" class="col-sm-4 control-label">Interest Rate B (opt.) %</label>
					    <div class="col-sm-8">
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
				  </div> <!-- //form-group -->
				  <div class="form-group">
					    <label for="inputPassword" class="col-sm-4 control-label">Term A</label>
					    <div class="col-sm-8">
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
				  </div> <!-- //form-group -->
				  <div class="form-group">
					    <label for="inputPassword" class="col-sm-4 control-label">Term B</label>
					    <div class="col-sm-8">
							<select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
				  </div> <!-- //form-group -->
				  
			</form>
		</div>
	{{/is}}
</div><!-- // left-content -->