<section class="navstep">
	<ul>
			<li {{#is basename "select_inventory"}} class="active" {{/is}}>
				<a href="#">
					<div class="number"><span>{{navstep1.numb}}</span></div>
					<div class="text">{{navstep1.text}}</div>
				</a>
			</li>
			<li {{#is basename "structure_deal"}} class="active" {{/is}}>
				<a href="#">
					<div class="number"><span>{{navstep2.numb}}</span></div>
					<div class="text">{{navstep2.text}}</div>
				</a>
			</li>
			<li {{#is basename "add_scenario"}} class="active" {{/is}}>
				<a href="#">
					<div class="number"><span>{{navstep3.numb}}</span></div>
					<div class="text">{{navstep3.text}}</div>
				</a>
			</li>
			<li {{#is basename "review_price"}} class="active" {{/is}}>
				<a href="#">
					<div class="number"><span>{{navstep4.numb}}</span></div>
					<div class="text">{{navstep4.text}}</div>
				</a>
			</li>
	</ul>
</section>