<nav class="navigation">
	<ul>
		<li {{#is basename "account"}}class="active"{{/is}}><a href="#">Account</a></li>
		<li {{#is basename "setting"}}class="active"{{/is}}><a href="#">Settings</a></li>
		<li><a href="#">Logout</a></li>
	</ul>
</nav> <!-- //navigation -->
<a href="javscript:void(0)" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>