
<div id="main" role="main" >
	<div class="container">
		{{> nav_step}}
		
		<div class="mainbox">
			<h2 class="title-greenside"><span>Scenarios</span></h2>
				<section class="scenario-list">
					<ul>
						{{#scenario}}
						{{#isnt id 3}}
							<li class="scenario-box">
								<a href="#" data-modal-id="popup1">
									<header>
										<h5>{{title}}</h5>
										<span class="text">{{text}}</span>
									</header>
									<div class="tb-scene table-responsive">
										<table class="table">
											<tr>
												<th>Int A</th>
												<th>Int B</th>
												<th>Int C</th>
												<th>Equity</th>
											</tr>
											<tr>
												<td>5%</td>
												<td>6%</td>
												<td>7%</td>
												<td>4%</td>
											</tr>
										</table>
									</div>
								</a>
							</li>
						{{else}}
							<li class="scenario-box addbox">
								<a href="#">
									<div class="add-plus">
										<p class="plus">+</p><br>
										<span>Add</span>
									</div>
								</a>
							</li>
						{{/isnt}}
						{{/scenario}}
					</ul>
				</section><!-- //scenario-list -->

				<div class="scen-stat">
					<a href="#" class="btn-scen-stat"><i class="fa fa-arrow-left"></i>Deal & Scenario Stats</a>
				</div>
				<div class="clearfix"></div>
				<hr class="fulline">
				<div class="next-row">
					<button type="button" class="btn-blue">Next: Review and Submit</button>
				</div>
		</div><!-- //mainbox -->

		<div id="popup1" class="modal-box">
		  <a href="#" class="js-modal-close close-modal"></a>
		  <div class="modal-body">
				<form class="form-horizontal">
					  <div class="form-group">
					    <label class="col-sm-5 control-label">Give the scenario a name</label>
					    <div class="col-sm-7">
					      <input type="text" class="form-control">
					    </div>
					  </div>

					  <div class="form-group">
					    <label class="col-sm-5 control-label">Give a short description of the scenario</label>
					    <div class="col-sm-7">
					      <input type="text" class="form-control">
					    </div>
					  </div>

					  <div class="form-group">
					    <label class="col-sm-5 control-label">Copy from an existing scenario</label>
					    <div class="col-sm-7">
					      <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
					  </div>
				 	
				 	  <span class="f-space"></span>
					  <h5 class="f-title">Configure Structure</h5>
					  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p><span class="f-space"></span>

					  <div class="form-group">
					    <label class="col-sm-5 control-label">Constant Prepayment Rate %</label>
					    <div class="col-sm-7">
					      <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
					  </div>

					  <div class="form-group">
					    <label class="col-sm-5 control-label">Annual Default Rate %</label>
					    <div class="col-sm-7">
					      <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
					  </div>

					  <div class="form-group">
					    <label class="col-sm-5 control-label">Default Rate Lag</label>
					    <div class="col-sm-7">
					      <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
					  </div>

					  <div class="form-group">
					    <label class="col-sm-5 control-label">Default Rate Severity %</label>
					    <div class="col-sm-7">
					      <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
					  </div>

					  <div class="form-group">
					    <label class="col-sm-5 control-label">Model</label>
					    <div class="col-sm-7">
					      <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					    </div>
					  </div>

					  <span class="f-space"></span>
					  <div class="form-group">
					   	<input type="submit" class="btn-white-border" value="Save Scenario"></div>
					  </div>
				</form>
		  </div><!-- // modal-body -->
		</div> <!-- //modal-box -->
	</div>
</div> <!-- //MAIN -->

  