<div id="main" role="main" >
	<div class="container">
		<div class="boxesnav">
			<div class="nav-catView">
				<ul>
					<li>
               		    <div class="checkbox">
		                    <input type="checkbox" value="" id="cxbox">
		                    <label for="cxbox"><span></span>All</label>
	                	</div>
					</li>
					<li>
               		    <div class="checkbox">
		                    <input type="checkbox" value="" id="cxbox2">
		                    <label for="cxbox2"><span></span>Draft</label>
	                	</div>
					</li>
					<li>
               		     <div class="checkbox">
		                    <input type="checkbox" value="" id="cxbox3">
		                    <label for="cxbox3"><span></span>Under Review</label>
	                	</div>
					</li>
				</ul>
			</div>
			<div class="add-btnwrap">
			 	<button class="btn btn-raised btn-circle">
					<span></span><div class="ripple-wrapper"></div>
				</button>
			</div>
		</div> <!-- //boxesnav -->

		{{~#marketBox}}
			<div class="markerbox">
				<div class="left">
					<p class="marbox__name">{{{name}}}</p>
					<p class="marbox__total">{{total}}</p>
				</div>
				<div class="right">
					<div class="steprogress">
						<span class="steprogress__text">step 3 of 4</span>
						<div class="progress">
               				 <div class="progress-bar" style="width: 60%;"></div>
             		     </div>
					</div>

					<a href="#" class="btn 	btn-borderWt">{{btn}}</a>
				</div>
			</div> <!-- Market box-->
		{{~/marketBox}}
	</div>
</div> <!-- //MAIN -->
  