<div class="login-section">
	<div class="loginbox">
		<div class="logintext">
			<figure class="logintext__logo"><img src="{{assetsimg}}/logoblue.png" alt="Login logo"></figure>
			<p class="welcometext">Welcome back!</p>
			<span>Don’t have an account? </span><br>
			<a href="#" class="link-req">Request access here</a>
		</div> <!-- //logintext -->

		<div class="loginform">
			<form name=""> 
				<div class="loginform__box">
					<input type="text" class="form-control" placeholder="Username">
					<input type="password" class="form-control" placeholder="Password">
					<input type="submit" class="btn-mainlogin" value="Login">
				</div>	
				<div class="loginform_remind">
					<div class="checkbox">
	                    <input type="checkbox" value="" id="cxbox">
	                    <label for="cxbox"><span></span>Save Email?</label>
	                </div>
	                <a href="#" class="link-forgot">Forgot password?</a>
				</div>
			</form>
		</div> <!-- //loginform -->
	</div> <!-- //loginbox -->
</div> <!-- //loginwsection -->
