
<div id="main" role="main" >
	<div class="container">
		{{> nav_step}}
		
		<div class="mainbox">
			<h2 class="title-greenside"><span>Filter your Inventory</span></h2>
			<div class="reviewprice">
				<div class="reviewprice_nav">
					<ul class="list-unstyled">
						{{#reviewNav}}
							<li><a href="#">{{.}}</a></li>
						{{/reviewNav}}
					</ul>	
				</div>

				<div class="reviewprice_content">
					<figure class="text-center">
						<img src="{{assetsimg}}/grafic_dummy.png" alt=""> 
					</figure>
				</div>
			</div><!-- //review-scene -->

			<section class="table-section">
				<div class="row">
					<div class="table-row table-responsive">
						<p class="title-xsaside">Projected</p>
						<table class="table table-border">
							<tr>
								<td><strong>Interest A</strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Interest B<strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Interest C<strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Principal A<strong></td>
								<td>$$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Principal B</strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Principal C<strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Equity<strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Available Pool<strong></td>
								<td>$$1,231,123.02</td>
							</tr>
						</table>
					</div> <!-- //able-row -->

					<div class="table-row table-responsive">
						<p class="title-xsaside">Due</p>
						<table class="table table-border">
							<tr>
								<td><strong>Interest A</strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Interest B<strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Interest C<strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Principal A<strong></td>
								<td>$$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Principal B</strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Principal C<strong></td>
								<td>$1,231,123.02</td>
							</tr>
						</table>
					</div> <!-- //table-row -->

					<div class="table-row table-responsive">
						<p class="title-xsaside">Due</p>
						<table class="table table-border">
							<tr>
								<td><strong>Interest A</strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Interest B<strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Interest C<strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Principal A<strong></td>
								<td>$$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Principal B</strong></td>
								<td>$1,231,123.02</td>
							</tr>
							<tr>
								<td><strong>Principal C<strong></td>
								<td>$1,231,123.02</td>
							</tr>
						</table>
					</div> <!-- //table-row -->


				</div>	
			</section>
			
			<hr class="fulline">
			<div class="next-row">
				<button type="button" class="btn-blue">Submit</button>
			</div>
		</div><!-- //mainbox -->
	</div>
</div> <!-- //MAIN -->
  