
<div id="main" role="main" >
	<div class="container">
		{{> nav_step}}
		
		<div class="mainbox">
			<h2 class="title-greenside"><span>Filter your Inventory</span></h2>
			
			<section class="criteria_sc">
				<h5 class="title-xxs">Add filters to select only the notes that fit your criteria.  The stats on the right will update in realtime as you do so.</h5>

				<ul class="list-unstyled row">
					{{#criteria}}
						<li class="criteria-item">
							<div class="inside">
								<img src="assets/img/{{.}}" alt="">
								<div class="counter"><span>12,334</span></div>
							</div>
						</li>
					{{/criteria}}
				</ul>

				<p class="text-bottom">Need to add more inventory? Click here to configure more inventory sources.</p>
			</section> <!-- //criteria_sc -->

			<div class="linerow-box row">
					{{> left_content}}
					{{> aside}}
			</div> <!-- //linerow-box -->

			<hr class="fulline">
			<div class="next-row">
				<button type="button" class="btn-blue">Next: Structure Deal</button>
			</div>
		</div><!-- //mainbox -->
	</div>
</div> <!-- //MAIN -->