
<div id="main" role="main" >
	<div class="container">
		{{> nav_step}}
		
		<div class="mainbox">
			<div class="row">
					{{> left_content}}
					{{> aside}}
			</div> <!-- //linerow-box -->

			<hr class="fulline">
			<div class="next-row">
				<button type="button" class="btn-blue">Next: Add Scenarios</button>
			</div>
		</div><!-- //mainbox -->
	</div>
</div> <!-- //MAIN -->
  