/** ADD SCENARIO
===================================*/
.scenario-list{
	padding-bottom: 25px;
}
.scenario-box{
	@include inline-block();
	width: 225px;
	margin: 0 15px 20px;
	padding: 18px;
	border: 1px solid #cfcfcf;
	@include border-radius(5px);
	position: relative;
	padding-bottom: 90px;
	@include min-height(210px);

	a{
		color: inherit;
		color: black;

		&:hover{
			text-decoration: none;
		}
	}

	h5{
		margin: 0;
		margin-bottom: 4px;
		font-weight: 400;
		font-size: 20px;
	}

	.tb-scene{
		position: absolute;
		bottom: 15px;
		left: 0;
		width: 100%;
		padding: 0 15px;
	}
	.table{
		margin-bottom: 0;
		tr{
			th{
				border-top : 0;
			}
			td, th{
				font-size: 13px;
				text-align: center;
			}
		}
	}

	&.addbox{
		border-style: dashed;
		text-align: center;
		padding-bottom: 18px;
		.add-plus{
			@include inline-block();
			padding-top: 25%;

		}

		.plus{
			@include inline-block();
			@include border-radius(100%);
			background-color: #f8f8f8;
			color: #adadad;
			@include square(40px);
			text-align: center;
			vertical-align: middle;
			line-height: 40px;
			font-size: 40px;
		}
		span{
			text-transform: uppercase;
		}
	}
}

.scen-stat{
	float: right;
	padding-bottom: 25px;
	@media screen and (min-width: 62em){
		position: absolute;
		right: 0;
		top: 25px;
	}
}

.btn-scen-stat{
	@include inline-block();
	@include border-left-radius(4px);
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	padding: 10px 20px;
	text-transform: uppercase;
	color: black;
	.fa{
		color: #cccccc;
		margin-right: 6px;
	}
	&:hover{
		text-decoration: none;
		background-color: darken(#f8f8f8, 8%);
		border-color: darken(#f8f8f8, 8%);
		color: black;

		.fa{
			color:  black;
		}
	}

}
