/** SIDEBAR
===================================*/
.aside-slide{
	@include make-md-column(4);
	@media screen and (min-width: 62em){
		float: right !important;
		border-left: 1px solid #cccccc;
		 margin-right: -10px;	
	}
	background-color: #f8f8f8;
	position: relative;
	@include prefixed(transition, all 0.8s ease-out);
	

	&.hideBox{
		margin-right: -385px;
	}
	.btn-sideslide{
		position: absolute;
		left: -45px;
		top: 20px;
		@include border-left-radius(5px); 
		display: none;
	}
	@media screen and (min-width: 62em){
		.btn-sideslide{
			display: block;
			margin-right: -15px;
		}
	}
	.inside{
		padding: 40px 20px;
		@media screen and (min-width: 50em){
			padding: 30px 25px;
		}
	}
}

.aside-row{
	@include clearfix();
	margin-bottom: 30px;
}

.title-mdaside{
	font-weight: 400;
	margin: 0;
	font-size: 18px;
}

.head-aside{
	overflow: hidden;
	margin-bottom: 22px;
	text-align: center;
	.title-mdaside{
		margin-bottom: 12px;
	}
	@media screen and (min-width: 32em){
		text-align: left;
		.title-mdaside{
			float: left;
			margin-bottom: 0;
		}
		.btn-advance{
			float: right;
		}
	}
}

.title-xsaside{
	font-size: 14px;
	color: #00a99d;
	display: block;
	margin-bottom: 20px;


	.fa{
		margin-left: 4px;
	}

	&.orange{
		color: #f7941d;
	}
}