/** FOOTER
===================================*/
#footer{
	background-color: #f2f2f2;
	padding: 40px 0;
}

.fooleft{
	@include make-sm-column(7);
	@include make-md-column(9);
	margin-bottom: 25px;
	@media screen and (min-width: 50em){
		margin-bottom : 0 ;
	}
	.inside{
		border-right: 1px solid #e6e6e6;
		width: 98%;
		padding-right: 30px;
	}
}

.fooright{
	@include make-sm-column(5);
	@include make-md-column(3);
	text-align: center;

	@media screen and (min-width: 50em){
		text-align:left;
	}

	.foologos{
		ul{
			li{
				@include inline-block();
				margin-right: 8px;
			}
		}
	}
}