/** FORM
===================================*/

/** BUTTONS
===================================*/
.btn-circle{
	@include border-radius(50%);
	@include square(37px);
	background: #60b378 !important	;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    font-size: 26px;
    padding: 0;
    text-align: center;
    margin: 0;

	span{
		@include inline-block();
		background: image-url('plus.png') top left no-repeat;
		background-size: 19px auto;
		-moz-background-size: 19px auto;
		-webkit-background-size: 19px auto;
		@include square(19px);
		position: relative;
		top:-1px;
	}

	&:hover{
		@include opacity(0.8);
	}	
}

.btn-borderWt{
	background: none;
	background: white;
	border: none;
	@include inline-block();
	text-transform: uppercase;
	padding: 4px 20px;
	color: black;
	border: 1px solid #cecece;
	@include border-radius(5px);
	background-color: white;	

	&:hover, &:focus{
		background: #60b378;
		border: 1px solid #60b378;
		color: white;
		text-decoration: none;
	}
}

.btn-blue{
	background: none;
	border: none;
	background-color: #0072bc;
	color: white;
	font-weight: 600;
	font-size: 16px;
	padding: 13px 25px;
	@include border-radius(5px);
	@include prefixed(transition, all 0.3s ease-out);

	&:hover{
		background-color: #60b378;
		text-decoration: none;
	}
}


.btn-minus {
	@include border-radius(50%);
	@include inline-block();
	padding: 0;
	font-weight: 700;
	text-align: center;
	@include square(24px);
	overflow: hidden;	
	color: #cfcfcf;
	border: 1px solid  #cfcfcf;
	background-color: white;

	&:before{
		content: '';
		@include inline-block();
		height: 100%;
	}

	span{
		font-size: 23px;
		@include inline-block();
	}

	&:hover, &:focus{
		text-decoration: none;
		color: white;
		background-color: #60b378;
		box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
	}
}

.btn-plus{
	@extend .btn-minus;
	span{
		vertical-align: bottom
	}
}

.btn-advance{
	@include inline-block();
	font-weight: 600;
	font-size: 10px;
	letter-spacing: 0.1em;
	color: #020a00;
	padding: 2px 14px;
	@include border-radius(3px); 
	text-transform: uppercase;
	border: 1px solid #020a00;
	

	span{
		@include inline-block();
		background: transparent image-url('icon-resize.png') 0 6px no-repeat;
		background-size: 6px auto;
		-moz-background-size: 6px auto;
		-webkit-background-size: 6px auto;
		padding-left: 13px;
	}

	&:hover{
		background-color: darken(#f8f8f8, 5%);	
		text-decoration: none;
		color: #020a00;
	}
}

/*====== BTN SLIDE SIDE ======*/
.btn-sideslide{
	color: #909090;
	@include inline-block();
	position: relative;
	cursor: pointer;
	z-index: 999;
	padding: 7px 10px;
	background-color: #f8f8f8;
	border: 1px solid #cccccc;

	&.active{
		.bars{
			background: transparent;
			transform: rotateZ(90deg);
			-webkit-transform: rotateZ(90deg);
			-moz-transform: rotateZ(90deg);
			&:before{
				transform: rotateZ(45deg);
				-moz-transform: rotateZ(45deg);
				-webkit-transform: rotateZ(45deg);
				top: 0;
			}
			&:after{
				bottom: 0px;
				transform: rotateZ(-45deg);
				-moz-transform: rotateZ(-45deg);
				-webkit-transform: rotateZ(-45deg);
			}
		}
	}
	&:hover,
	/*&:focus*/{
		.bars{
			background: transparent;
			transform: rotateZ(90deg);
			-webkit-transform: rotateZ(90deg);
			-moz-transform: rotateZ(90deg);
			&:before{
				transform: rotateZ(45deg);
				-moz-transform: rotateZ(45deg);
				-webkit-transform: rotateZ(45deg);
				top: 0;
			}
			&:after{
				bottom: 0px;
				transform: rotateZ(-45deg);
				-moz-transform: rotateZ(-45deg);
				-webkit-transform: rotateZ(-45deg);
			}
		}
	}
	.bars{
		position: relative;
		width: 23px;
		height: 2px;
		background: #909090;
		@include inline-block();
		transition: background 250ms ease-out, transform 300ms ease-out;
		-moz-transition: background 250ms ease-out, transform 300ms ease-out;
		-webkit-transition: background 250ms ease-out, transform 300ms ease-out;
		border-radius: 9px;
		&:before, 
		&:after{
			@include border-radius(9px);
			width: 23px;
			height: 2px;
			background: #909090;
			position: absolute;
			content: "";
			transition: transform 300ms ease-out;
		}
		&:before{
			top: 6px;
		}
		&:after{
			bottom: 6px;
		}
	}
}

.btn-white-border{
	margin: 0;
	background: none;
	border: none;
	@include inline-block();
	background: white;
	border: 1px solid #0072bc;
	color: #0072bc;
	text-align: center;
	padding: 8px 25px;
	font-size: 16px;
	@include border-radius(5px);
	@include prefixed(tansition, all 0.3s linear);

	&:hover{
		text-decoration: none;
		color: #60b378;
		border-color: #60b378;
	}
}

.checkbox {
	.checkbox-material{
		top: 0;
		.check{
		@include inline-block();
		vertical-align: top;
		width: 15px;
		height: 15px;
		border: 1px solid #adadad; 
		@include border-radius(100%);
		padding: 0;
		margin-right: 3px;

		&:before{
			margin-top: -6px;
		}
		}
	}
}

/*==== CHECKBOX DAN RADIO ======*/

.checkbox, .radio{
	font-size: 13px;
	label{
		padding-left: 0;
	}
	input[type="checkbox"]{
		margin-top: 7px;
	}
}


input[type="checkbox"], input[type="radio"] {
    display:none;
}

/*====== CHECKBOX ======*/
input[type="checkbox"] + label span {
    display:inline-block;
    width:13px;
    height:13px;
    margin:-4px 7px 0 0;
    vertical-align:middle;
    background:image-url('checkbox.png') left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:image-url('checkbox.png') right top no-repeat;
}

/*====== RADIO ======*/
input[type="radio"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin: 3px 10px 0 0;
    vertical-align:middle;
    background:image-url('radio_fill.png') 0 0 no-repeat;
    cursor:pointer;
    float: left;
    background-size: 15px auto;
    -moz-background-size: 15px auto;
    -webkit-background-size: 15px auto;
}
input[type="radio"]:checked + label span {
    background:image-url('radio_empty.png') 0 0  no-repeat;
    background-size: 15px auto;
    -moz-background-size: 15px auto;
    -webkit-background-size: 15px auto;
}