html{
	 position: relative;
	 height: 100%;
}
body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.5em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	

	&.home{
		background-color: #e4eaef;	
	}
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a{
	@include prefixed(transition, all 0.2s linear);
	color: #60b378
}

.mainbox{
	background-color: white;
	@include clearfix();
	border:  1px solid #d3d3d3;
	padding: 0 25px;
	@include border-radius(5px);
	overflow: hidden;
	position: relative;	
}

.linerow-box{
	position: relative;
	@include clearfix();
	padding-top: 1px;
	position: relative;
	&:before{
		content: '';
		background-color: #cccccc;
		height: 1px;
		width: 102%;
    	margin-left: -11px;
	}
}

.left-content{
	@include make-md-column(8);
	padding-top: 10px;
	padding-bottom: 30px;
}

.inputbox_2{
	@include make-md-column(6);
	padding-right: 10px;
	padding-left: 10px;
}
.inputbox_3{
	@include make-md-column(4);
	padding-right: 10px;
	padding-left: 10px; 
}

hr{
	&.fulline{
		    margin-top: 0;
		    margin-bottom: 20px;
		    border: 0;
		    border-top: 1px solid #cccccc;
		    margin-right: -25px;
		    margin-left: -25px;
	}
}

/*====== TITLE ======*/
.title-greenside{	
	@include inline-block();
	background-color: #def0e3;
	color: #60b378;
	font-size: 15px;
	margin: 0;
	margin-left: -25px;
	margin-bottom: 28px;
	margin-top: 20px;
	padding: 12px 20px;
	@include border-right-radius(5px);
	font-weight: 600;
	text-transform: uppercase;
}

h5.title-xxs{
	margin: 0;
	margin-bottom: 25px;
	font-size: 15px;
	font-weight: 400;
}