/** HEADER
===================================*/
#header{
	margin-bottom: 50px;
}
.headtop{
	background-color: #4b617d;
	color: white;

	@media screen and (max-width: 62em){
		position: relative;
		padding-bottom: 0;
	}
}
#logo{
	@include make-md-column(2);
	figure{
		width: 143px;
		padding: 20px 0;
		@media screen and (max-width: 32em){
			margin: 0 auto;
		}
	}
	@media screen and (min-width: 32em) and (min-width: 62em){
		float: left;
	}
	
}

.head-right{
	@include make-md-column(10);

	@media screen and (max-width: 62em){
		position: inherit;
	}

	@media screen and (min-width: 62em){
		.inside{
			@include inline-block();
			float: right;	
		}
	}
}
.search-box{
	border-left: 1px solid #617389;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 260px;
	float: left;



	.form-control-wrapper{
		padding: 17px 0;
	}
	.form-control{
		@include inline-block();
		max-width: 145px;
		color: white;
		display: none;
	    background-color: transparent;
	    border: none;
	    border-bottom: 1px solid #E0DDDD;
	    @include border-radius(0);
	    @include box-shadow(none);
	}

	.btn-src{
		background: none;
		border: none;
		@include inline-block();
		padding: 35px 20px 0; 
		background: transparent image-url('src.png') center center no-repeat;
		background-size: 17px;
		-moz-background-size: 17px;
		-webkit-background-size: 17px;
		
	}

	@media screen and (max-width: 62em){
		position: absolute;
		right:  0;
		top: 0;
		border-left: 0;
	}
	@media screen and (max-width: 32em){
		position: relative;
		float: none;
			max-width: none;
		.btn-src{
			display: none;
		}
		.form-control{
			display: block !important;
			max-width: none;
		}
	}
}

.headuser{
	float: left;
	padding: 0 20px;
	border-left: 1px solid #617389;

	@media screen and (max-width: 62em){
		border: 0;
		float: none;
		text-align: center;
	}
	&:before{
		content: '';
		@include inline-block();
		height: 100%;
	}

	.user{
		@include inline-block();
		margin-right: 10px;
		@media screen and (max-width: 32em){
			margin-bottom: 10px
		}

		figure{
			position: relative;
			@include inline-block();
			margin-right: 15px;
		}
		.user__thumb{
			@include border-radius(50%);
			overflow: hidden;
			@include square(38px);

			img{
				@include border-radius(50%);
			}
		}
		.user__alert{
			color: white;
			background: #ed0a0c;
			font-size: 14px;
			font-weight: 600;
			display: block;
			@include border-radius(100%);
			@include square(20px);
			line-height: 20px;
			position: absolute;
			top: -8px;
			right: -8px;
			z-index: 5;
			text-align: center;
		}

		.user_name{
			font-weight: 600;
			font-size: 14px;
		}
	}

	.headuser__btn{
		background: none;
		border: none;
		color: #93a0b1;
		border: 1px solid #93a0b1;
		text-transform: uppercase;
		font-size: 10px;
		padding: 5px 25px;
		@include inline-block();
		@include border-radius(3px);

		&:hover{
			text-decoration: none;
			color: white;
			border-color: white;
		}

		@media screen and (max-width: 32em){
			margin-bottom: 10px
		}
	}
}

.headbtm{
	background-color: white;
}

.head-bank{
	margin-right: 15px;
	padding: 15px 0;
	text-align: right;
	a{
		@include inline-block();
		color: black;

		&:before{
			margin-right: 5px;
		}

		&:hover{
			color: #60b378;
			text-decoration: none;
		}
	}
	@media screen and (min-width: 43em){
		float: right;
	}
}