/** HOME
===================================*/
#main{
	padding-bottom: 50px;
}
.boxesnav{
	@include clearfix();
	margin-bottom: 35px;
	.nav-catView{
		@media screen and (min-width: 45em){
			float: left;
		}
	}
	.add-btnwrap{
		text-align: right;
		@media screen and (min-width: 45em){
			float: right;
			text-align: left;
		}
	}
}

.nav-catView{
	ul{
		li{
			@include inline-block();
			margin-right: 10px;
		}
	}
}

.markerbox{
	border: 1px solid  #d7d7d7;
	padding: 25px;
	overflow: hidden;
	position: relative;
	@include border-radius(6px);
	margin-bottom: 30px;
	background-color: white;
	@media screen and (max-width: 48em){
		padding-top: 50px;
	}

	.left{
		@include make-sm-column(7);
		position: initial;
	}

	.right{
		@include make-sm-column(5);
		@media screen and (min-width: 48em){
			text-align: right;
		}

		position: initial;
	}

	.marbox__name{
		font-weight: 600;
		text-transform: uppercase;
		span{
			color: #acacac;
		}
	}

	.marbox__total{
		font-weight: 300;
		font-size: 24px;
		line-height: 1.4em;
	}

	.steprogress{
		position: absolute;
		right: -3px;
		top: -3px;
		width: 100%;
		max-width: 378px; 
	}

	.btn-borderWt{
		margin-top: 13px;
	}
}

.steprogress{
	.steprogress__text{
		@include inline-block();
		font-size: 10px;
		vertical-align: top;
		margin-right: 5px;
		margin-top: 3px;
	}

	.progress{
		height: 17px;
		border: 1px solid #d7d7d7;
		@include inline-block();
		width: 100%;
		@include border-radius(4px);
		background-color: white;
		@media screen and (min-width: 32em){
			width: 84%;
		}

		.progress-bar{
			background-color: #ededed;
		}
	}
}

