/** LOGIN
===================================*/
.login-section{
	background-color: #e4eaef;	
	font-size: 16px;
	position: relative;
	text-align: center;

	@media screen and (min-width: 737px){
		&:before{
			content:'';
			@include inline-block();
			height: 100%;
		}
	}



	a{
		color: #0072bc;
		&:hover{
			color: #60b378;
			text-decoration: none;
		}
	}
}
.loginbox{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	@include clearfix();
	@include inline-block();
	text-align: left;
	padding-right: 15px;
	padding-left: 15px;
	@media screen and (max-width: 737px){
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.logintext{
	color: #000b00;
	margin-bottom : 20px;
	text-align: center;

	.logintext__logo{
		max-width: 156px;
		overflow: hidden;
		margin: 0 auto 20px;
	}

	.welcometext{
		margin-bottom: 20px;
	}
	.link-req{
		margin-bottom: 8px;
		color: #0072bc;
		&:hover{
			color: #60b378;
			text-decoration: none;
		}
	}
	@media screen and(min-width: 50em){
		float: left;
		width: 48%;
		padding-top: 22px;
		margin-bottom: 0;
		text-align: left;
		.logintext__logo{
			margin: 0;
			margin-bottom: 20px;
		}
	}
}

.loginform{
	@media screen and(min-width: 50em){
		float: right;
		width: 48%;
	}
}

.loginform__box{
		overflow: hidden;
		@include border-radius(5px);
		background-color: rgb(255, 255, 255);
  		@include box-shadow(0 0 10px #C3CDD6);

  		.form-control{
  			height: 47px;
  			@include border-radius(0);
  			&:first-of-type{
  				@include border-top-radius(5px);
  				border-bottom: 0;
  			}
  		}

  		.btn-mainlogin{
  			background: none;
  			border: none;
			width: 100%;
			height: 57px;
			z-index: 5;
			color: white;
			font-size: 16px;
			@include background-image(linear-gradient(#0072bb, #005d9a));
			@include border-bottom-radius(5px);
			@include prefixed(transition, all 0.3s linear);
			&:hover{
				@include background-image(linear-gradient(#0072bb, #0072bb));
			}

  		}
 }

 .loginform_remind{
 	padding-top: 11px;
 	.checkbox{
 		margin: 0;
 		margin-bottom: 12px;
 	}

 	.link-forgot{
		color: #0072bc;
		&:hover{
			color: #60b378;
			text-decoration: none;
		}
 	}
 	@media screen and (min-width: 38em){
 		.checkbox{
 			float: left;
 		}
 		.link-forgot{
 			float: right;
 		}
 	}
 }