/** MODAL
===================================*/
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  max-width: 800px;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  font-size: 15px;
 
   .modal-body { 
   		padding: 5em 3em; 
   		 overflow: scroll;
   }
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close-modal{
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
	top: -5%;
	right: -4%;
  color: #bbb;
  @include square(57px);
  background: image-url('btn_close.png') 0 0 no-repeat;
  @include background-size(57px);

  &:hover{
  	text-decoration: none;
  	@include opacity(0.7);
  }
}

/*====== MODAL ADDITIONAL  ======*/
.modal-box {
	.f-title{
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 15px;
	}

	.control-label{
		font-size: 15px;
	}

	.f-space{
		display: block;
		height: 30px;
		width: 100%;
	}

}

