/** NAV STEP
===================================*/
.navstep{
	background-color: white;
	@include border-radius(5px);
	border: 1px solid #d3d3d3;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 27px;
	
	ul{
		li{
			@include inline-block();
			width: 20%;
			margin: 0 15px;
			text-align: center;
			@media screen and (min-width: 62em){
				width: 21.5%;
			}
			@media screen and (max-width: 48em){
				display: block;
			    vertical-align: middle;
			    width: 96%;
			    margin: 0 15px;
			    text-align: left;
			    margin-bottom: 10px;
			    padding-bottom: 10px;
			    border-bottom: 1px solid #cecece;
			    a{
			    	display: block;
			    }
			}
			a{
				color: black;
			}
			
			&.active, &:hover{
				a{
					color: #60b378;
					text-decoration: none;
				}
			}

			.number{
				span{
					display: none;
					line-height: 32px;
					font-weight: 600;
					@include square(32px);
					background-color: #60b378;
					color: white;
					@include border-radius(100%);
				}

				@media screen and (min-width: 49em){
					margin-top: -32px;
					margin-bottom: 10px;

					span{
						@include inline-block();
					}
				}
			}

			.text{
				font-weight: 600;
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: 0.1em;
			}
		}
	}
}