/** MAIN NAV
===================================*/
  .nav{
    display: none;
    text-align: center;   
    @media screen and (min-width: 50em) {
      display: block;
    }

    ul {
       zoom:1;
       width: 100%;
       /*height:51px;*/
       list-style:none;
       margin:0;
       padding:0;

        li{
             @include inline-block();
            a {
                padding: 8px 18px;
                display: block;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 15px;
                color: white;

                @media screen and (min-width: 800px) and (max-width: 1200px){
                  padding-right: 10px;
                  padding-left: 10px;
                }
              }

              &:hover > a {
                color: white;
                background: #1b6097;  
                text-decoration: none;
              }

              ul {
                height:auto;
                border:0;
                position:absolute;
                max-width: 250px;
                z-index:80;
                display:none;
                margin:0;
                padding:0;
                background: #1b6097;

                  a  {
                      padding: 10px;
                      _height: 10px; /*IE6 only*/
                      display: block;
                      float: none;
                      text-transform: none;
                      font-size: 0.8em;

                      &:hover {
                          background-color: #0C5996;
                          color:#fff;
                        }
                    }
              } 

              li {
                float: none;
                display: block;
                border: 0;
                border-bottom:1px solid #2771AD;
                text-align: left;

                &:last-child {
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                  }
              }
          } 
      }
  }

  /*arrow*/
  .nav ul ul li:first-child > a {
     @include border-radius(8px 8px 0 0)
  }
  .nav ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
  }

  /*====== HUMBERBER BUTTON ======*/
  .btn-rwd-sidebar{
    display: block;
    margin-top: 0;
    float: right;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #60b378;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    @media screen and (min-width: 62em){
      display: none;
    }
    @media screen and (min-width: 32em){
       top: 93px;
    }
  }

/*====== RESPONSIVE MENU ======*/

.close-sidebar{
  text-align: right;
}
.nav-rwd-sidebar{
  width: 60%;
  z-index: 999;
  background-color: #273A52;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  @media (min-width: 50em) {
      width: 40%;
  }
  .nav-sidebar{
    margin-top: 50px;
  }
  ul{
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    li{
      a, span{
        // font-family: $roboto;
        font-size: 13px;
        text-transform: capitalize;
        padding: 8px 15px;
        display: block;
        font-weight: 600;
      }
      a{
        &:hover,
        &:focus{
          color: white;
          background-color: #313131;
          text-decoration: none;
        }
      }
    }
  }
}

.nav-rwd-sidebar{
   margin-left: -60%;
  .btn-hide{
    margin-left: 30px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    @include inline-block();
    text-align: center;
    line-height: 42px;
    background-color: #60b378;
    color: white;
    box-shadow: inset 0 0 0 2px #60b378;

    &:hover,
    &:focus{
      background-color: transparent;
      color: #c1c1c1;
    }
  }
  &.sidebar-active{
    margin-left: 0;
  }
  ul{
    li{
      a, span{
        padding-left: 30px;
        color: white;
      }
      &:hover,
      &:focus{
        a{
          color: #f1f1f1;
        }
      }
    }
  }
}

/** NAVIGATION
===================================*/
.navigation{
  float: left;
  border-left: 1px solid #617389;
  padding: 0 10px;
  @include min-height(60px);
  display: none;
  @media screen and (min-width: 62em) {
    display: block;
  }
  ul{
    li{
       float: left;
       text-align: center;
       a{
          display: block;
          padding: 25px 20px;
          text-transform: uppercase;
          color : white;
          text-transform: uppercase;

          &:hover{
            color: #009688;
            text-decoration: none;
          }
       }
    }
  }
}

/*====== NAV IN MAIN ======*/
.navInMain{
  text-align: center;
  margin-bottom: 15px;
  @media screen and (min-width: 43em){
    float: left;
    text-align: left;
    margin-bottom: 0;
  }

  ul{
    li{
        @include inline-block();
        margin-right: 13px;
        margin-left: 13px;
        &:first-child{
          margin-left: 0;
        }
        a{
          float: left;
          display: block;
          font-size: 14px;
          text-transform: uppercase;
          position: relative;
          padding: 15px 0;
          font-weight: 600;
          color: black;

          &:before{
            content: '';
            @include prefixed (transition, all 0.3s linear);
            position: absolute;
            width: 0;
            height: 1px;
            bottom: 0px;
            left: 0;
            right: 0;
            left: 0;
            margin: auto;
            width:0;
            background-color: #60b378;
          }
        }

        &:hover, &.active{
          a{
            color: #60b378;
            text-decoration: none;
            &:before{
              width: 100%;
            }
          }
        }
    }
  }
}
