/** REVIEW PRICE
===================================*/
.reviewprice{
	padding-bottom: 50px;
}
.reviewprice_nav{
	margin-bottom: 45px;
	@media screen and (min-width: 38em){
		border-bottom: 2px solid #e7e7e7;
	}
	ul{
		li{
			display: block;
			border-bottom: 1px solid #cecece;
			margin-bottom: 15px;

			@media screen and (min-width: 38em){
				@include inline-block();
				border: none;
				margin-bottom: 0;
			}
			a{
				display: block;
				position: relative;
				font-size: 14px;
				color: black;

				@media screen and (min-width: 38em){
					padding: 12px 50px;

				}

				&:first-child{
					padding-left: 0;
				}

				&:before{
					content: '';
					position: absolute;
					left: 0;
					bottom: -2px;
					width: 0;
					height: 2px;
					background-color: #0072bc;
					@include prefixed(transition, all 0.3s ease-out);
				}
			}

			&:hover{
				a{
					color: #0072bc;
					text-decoration: none;

					&:before{
						width: 63%;
					}
				}
			}
		}
	}
}

.table-section{
	background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    margin-left: -25px;
    margin-right: -25px;
    padding: 30px 25px;
	@include clearfix();
}
