/** SELECT INVENTORY
===================================*/
.criteria_sc{
	padding-bottom: 22px;
	.text-bottom{
		text-align: right;
		color: #737373;
	}

	.criteria-item{
		@include make-sm-column(4);
		margin-bottom: 20px;
		.inside{
			background-color: white;
			border: 1px solid #cfcfcf;
			@include border-radius(5px);
			text-align: center;	
			position: relative;
			padding: 20px;
			padding-bottom: 48px;
			
			@media screen and (min-width: 62em){
				height: 125px;
				&:before{
					content: '';
					height: 100%;
					@include inline-block();
				}
			}
		}

		img{
			@include inline-block();
		}

		.counter{
			text-align: right;
			position: absolute;
			bottom: 0;
			right: auto;
			left: 0;
			width: 100%;
			text-align: right;

			@media screen and (min-width: 45em){
				text-align: center;
				top: auto;
			}
			span{
				background-color: #f2f2f2;
				@include inline-block();
				text-align: center;
				padding: 8px 12px 5px;
				@include border-top-radius(5px);
				font-size: 13px;
			}
		}

		&.active{
			.inside{
				border: 1px solid #60b378;
			}
			.counter{
				span{
					background-color: #60b378;
					color: white;
				}
			}
		}
	}
}


.scPool-row, .scPool-control{
	@media screen and (min-width: 62em){
		max-width: 600px;
	}
}
.scPool{
	background-color: #f6f6f6;
	margin-bottom: 18px;
	padding: 18px 45px 18px 8px;
	@include border-radius(5px);
	overflow: hidden;
	position: relative;

	.btn-minus{
		position: absolute;
		right: 15px;
    	top: 22px;
	}

	.form-control{
		margin-bottom: 15px;
		@media screen and (min-width: 62em){
			margin-bottom: 0;
		}
	}
}

.scPool-control{
	overflow: hidden;
	.btn-plus{
		margin-right: 20px;
	}
	@media screen and (min-width: 42em){
		.btn-plus{
			float: left;
			margin-bottom: 18px;
		}
		.btn-group{
			float: right;
		}		
	}
}

.next-row{
	text-align: right;
	padding: 12px 0 25px 0;
}
