/** STRUCTURE DEAL
===================================*/
.f-configure{
	max-width: 500px;
}

.addtemplate_sc{
	padding-bottom: 40px;
}
.box-template{
	@include make-row();
}
.box-template_item{
	@include make-sm-column(4);
	@include clearfix();

	.inside{
		border: 1px solid #cfcfcf;
		padding: 18px;
		@include border-radius(5px);
		@media screen and (min-width: 48em){
			@include min-height(325px);	
		}
	}

	&.active{
		.inside{
			border-color: #60b378;
		}
	}

	header{
		margin-bottom: 14px;
		h5{
			margin: 0;
			margin-bottom: 3px;
			font-size: 19px;
			font-weight: 400;
		}	

		span{
			font-size: 13px;
			font-weight: 600;
			color: #a3a3a3;
		}
	}
}