/** TABLE
===================================*/
.table{

	&.table-border{
		border: 1px solid #dbdbdb;
		background-color: white;
		margin-bottom: 15px;
		tr{
			td{
				&:first-child{
					border-right:1px solid #dbdbdb;
				}
			}
		}
	}
}

.table-row{
	@include make-md-column(4);

	.title-xsaside{
		margin-bottom: 14px;
	}
}